.idea

FOR_TEST
PC_END/.idea
PC_END/__pycache__
PC_END/FOR_TEST
PC_END/face_to_recognition.jpg
PC_END/LocalData/user_database.db
PC_END/LocalData/FaceFeatureDB/*
PC_END/LocalData/Faces/*
PC_END/Logic/__pycache__
PC_END/VirtualEnvironment_Linux

RaspberryPi_END/.idea
RaspberryPi_END/__pycache__
RaspberryPi_END/FOR_TEST
RaspberryPi_END/VirtualEnvironment_Linux
RaspberryPi_END/face_to_recognition.jpg

相关设计与参考文件